@font-face{font-family: navigation; src: url(font/InknutAntiqua-SemiBold.ttf);}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

#corps{
    width: 70%;
    margin-top: 6rem;
    background: #858585;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 5rem;
    font-size: 3rem;
    margin-bottom: 4rem;
    font-family: navigation;
}

p{
    margin: 1.5rem 7rem 0.5rem 7rem;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2rem;
    font-family: navigation;
}

h2{
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    margin-bottom: 0.5rem;
}

h3{
    text-align: center;
    font-size: 1.6rem;
    margin: 1.2rem;
    color: #202020;
}

a{
    text-decoration: none;
}

h4{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-left: 6rem;
    margin-right: 6rem;
}

h5{
    font-size: 1.6rem;
    margin-bottom: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

main{
    background: linear-gradient(180deg, #ffffff 5%, #000000 100%);
}


.cav{
    margin-left: 3rem;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cav img{
    border-radius: 110px;
    width: 70%;
}