@font-face{font-family: navigation; src: url(font/InknutAntiqua-SemiBold.ttf);}
@font-face {font-family: texte;src: url(font/InriaSans-Regular.ttf);}
@font-face{font-family: anti; src: url(font/DEMON_NI.TTF);}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Hivrian{
    background: linear-gradient(180deg, rgba(82, 219, 60, 0.3) 0%, rgba(255, 200, 57, 0.3) 32.29%, rgba(165, 60, 202, 0.3) 61.98%, rgba(151, 71, 204, 0.3) 65.62%, rgba(40, 154, 218, 0.3) 93.75%), #FFFFFF;    
}

main h1{
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-family: navigation;
}

main h2{
    font-size: 2rem;
    font-family: texte;
    margin-bottom: 1rem;
    font-weight: bold;
}

.pays{
    width: 70%;
    background: #F1F1F1;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
}

a{
    text-decoration: none;
    color: #000000;
}

.liens{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    width: 80%;
    background-color: azure;
    padding-top: 1rem;
    border: #000000 solid 1px;
    margin-bottom: 2rem;
}


main h3{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-family: navigation;
    text-align: center;
}

.images{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.images img{
    width: 100%;
}

.images h4{
    font-size: 2rem;
    font-family: texte;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

video{
    width: 100%;
}

.videos{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.videos h4{
    font-size: 2rem;
    font-family: texte;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#Dvideos{
    display: none;
}

#Dimages{
    display: none;
}


#Dmusiques{
    display: none;
}

#Dmemes{
    display: flex;
}

#messenger{
    width: 30%;
}

#table{
    width: 50%
}

#reve{
    width: 70%;
}