@font-face{font-family: mafia; src: url(/css/font/CorleoneDue.TTF);}

main{
    background: linear-gradient(180deg, #442900 30%, #d13a26 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/pacifia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

h1{
    font-family: mafia;
}

h2{
    font-family: mafia;
}

.infos{
    background-color: rgb(70, 46, 23);
}

#con1{
    border: 0.15rem solid rgb(72, 36, 92);
}

#con2{
    border: 0.15rem solid rgb(8, 54, 33);
}

#con3{
    border: 0.15rem solid black;
}

