@font-face{font-family: navigation; src: url(font/InknutAntiqua-SemiBold.ttf);}

main{
    background: linear-gradient(180deg, #362b21 0%, #929292 90%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/celestia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

h1{
    font-family: navigation;
}

h2{
    font-family: navigation;
}

.infos{
    background-color: rgb(94, 84, 76);
}

#con1{
    border: 0.15rem solid rgb(255, 255, 255);
}

#con2{
    border: 0.15rem solid rgb(121, 3, 3);
}

#con3{
    border: 0.15rem solid rgb(12, 19, 116);
}

#nation img{
    border: 0.2rem solid rgb(131, 131, 131);
}