@font-face{font-family: navigation; src: url(font/InknutAntiqua-SemiBold.ttf);}

main{
    background: linear-gradient(180deg, #3f2717 10%, #fffb29 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/celestia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

h1{
    font-family: navigation;
}

h2{
    font-family: navigation;
}

.infos{
    background-color: rgba(87, 65, 37, 0.76);
}

#con1{
    border: 0.15rem solid rgb(247, 243, 59);
}

#con2{
    border: 0.15rem solid rgb(196, 4, 4);
}

#con3{
    border: 0.15rem solid rgb(129, 230, 255);
}

#nation img{
    border: 0.2rem solid rgb(131, 131, 131);
}