@font-face{font-family: navigation; src: url(font/InknutAntiqua-SemiBold.ttf);}

main{
    background: linear-gradient(180deg, #582020 10%, #160202 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/celestia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

h1{
    font-family: navigation;
}

h2{
    font-family: navigation;
}

.infos{
    background-color: rgb(129, 68, 68);
}

.supp{
    background-color: rgb(129, 68, 68);
}

#con1{
    border: 0.15rem solid rgb(214, 21, 21);
}

#con2{
    border: 0.15rem solid rgb(255, 255, 255);
}

#con3{
    border: 0.15rem solid rgb(68, 66, 66);
}

#con4{
    border: 0.15rem solid rgb(177, 224, 238);
}

