@font-face {font-family: robot;src: url(/css/font/Valorant\ Font.ttf);}

main{
    background: linear-gradient(180deg, #29c798 0%, #272727 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/eugenium.jpg);
}

h1{
    font-family: robot;
}

h2{
    font-family: robot;
}

.infos{
    background-color: rgb(78, 212, 190);
}

#con1{
    border: 0.15rem solid rgb(35, 165, 204);
}

#con2{
    border: 0.15rem solid rgb(8, 54, 33);
}

#con3{
    border: 0.15rem solid black;
}

