@font-face{font-family: fort; src: url(/css/font/IMFellDoublePicaSC-Regular.ttf);}

main{
    background: linear-gradient(180deg,#ce1313 0%, rgb(0, 0, 0) 95%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/fort-brillant.jpg);
    background-position-y: 30%;
}

h1{
    font-family: fort;
}

h2{
    font-family: fort;
}

.infos{
    background-color: rgb(207, 38, 38);
}

#con1{
    border: 0.15rem solid rgb(45, 22, 66);
}

#con2{
    border: 0.15rem solid rgb(231, 206, 60);
}

#con3{
    border: 0.15rem solid rgb(0, 0, 0);
}

#con4{
    border: 0.15rem solid rgb(77, 21, 122);
}
