@font-face{font-family: fort; src: url(/css/font/IMFellDoublePicaSC-Regular.ttf);}

main{
    background: linear-gradient(180deg,#1f409b 0%, rgb(31, 87, 54) 95%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/fort-brillant-nord.jpg);
    background-position-y: 40%;
}

h1{
    font-family: fort;
}

h2{
    font-family: fort;
}

.infos{
    background-color: rgb(42, 87, 185);
}

#con1{
    border: 0.15rem solid rgb(243, 233, 89);
}

#con2{
    border: 0.15rem solid rgb(179, 0, 0);
}

#con3{
    border: 0.15rem solid rgb(58, 140, 179);
}

#con4{
    border: 0.15rem solid rgb(77, 21, 122);
}

p{
    margin: 1rem 2.7rem 0.5rem 2.7rem;
    font-size: 1.4rem;
    text-align: left;
    line-height: 2rem;
}