@font-face{font-family: fort; src: url(/css/font/IMFellDoublePicaSC-Regular.ttf);}

main{
    background: linear-gradient(180deg, #3a1313 28.13%, rgb(172, 30, 30) 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/fort-brillant.jpg);
    background-position-y: 30%;
}

h1{
    font-family: fort;
}

h2{
    font-family: fort;
}

.infos{
    background-color: rgb(151, 37, 37);
}

#con1{
    border: 0.15rem solid rgb(245, 188, 65);
}

#con2{
    border: 0.15rem solid rgb(51, 19, 19);
}

#con3{
    border: 0.15rem solid rgb(224, 23, 23);
}

#con4{
    border: 0.15rem solid rgb(77, 21, 122);
}
