@font-face{font-family: fort; src: url(/css/font/IMFellDoublePicaSC-Regular.ttf);}

main{
    background: linear-gradient(180deg, #443831 28.13%, rgb(141, 171, 211) 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/fort-brillant-nord.jpg);
    background-position-y: 40%;
}

h1{
    font-family: fort;
}

h2{
    font-family: fort;
}

.infos{
    background-color: rgb(66, 58, 45);
}

#con1{
    border: 0.15rem solid rgb(74, 142, 168);
}

#con2{
    border: 0.15rem solid rgb(55, 66, 34);
}

#con4{
    border: 0.15rem solid rgb(41, 23, 51);
}

#con3{
    border: 0.15rem solid rgb(22, 46, 17);
}
