@font-face{font-family: fort; src: url(/css/font/IMFellDoublePicaSC-Regular.ttf);}

main{
    background: linear-gradient(180deg,#000000 0%, rgb(16, 110, 55) 95%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/nemesian.png);
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: fort;
}

h2{
    font-family: fort;
}

.infos{
    background-color: rgb(53, 113, 41);
}

#con1{
    border: 0.15rem solid rgb(35, 126, 81);
}

#con2{
    border: 0.15rem solid rgb(14, 7, 17);
}

#con3{
    border: 0.15rem solid rgb(58, 140, 179);
}

#con4{
    border: 0.15rem solid rgb(77, 21, 122);
}

p{
    font-size: 1.429rem;
}