@font-face{font-family: steam; src: url(/css/font/Steamwheel.ttf);}

main{
    background: linear-gradient(180deg, #460e74 0%, #7c230d 90%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/fond\ axel.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

h1{
    font-family: steam;
}

h2{
    font-family: steam;
}

.infos{
    background-color: rgb(116, 20, 196);
}

#con1{
    border: 0.15rem solid rgb(255, 252, 45);
}

#con2{
    border: 0.15rem solid rgb(221, 106, 18);
}

#con3{
    border: 0.15rem solid rgb(246, 63, 200);
}

#con4{
    border: 0.15rem solid rgb(83, 46, 143);
}

