@font-face{font-family: steam; src: url(/css/font/Steamwheel.ttf);}

main{
    background: linear-gradient(180deg, #616161 28.13%, #9c6f2c 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/Cloakhoover.png);
}

h1{
    font-family: steam;
}

h2{
    font-family: steam;
}

.infos{
    background-color: rgb(112, 112, 112);
}

#con1{
    border: 0.15rem solid rgb(56, 56, 56);
}

#con2{
    border: 0.15rem solid rgb(30, 109, 146);
}

#con3{
    border: 0.15rem solid rgb(39, 66, 37);
}

#con4{
    border: 0.15rem solid rgb(83, 46, 143);
}

