@font-face{font-family: steam; src: url(/css/font/Steamwheel.ttf);}

main{
    background: linear-gradient(180deg, #1f1f1f 28.13%, #9c6f2c 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/Cloakhoover.png);
}

h1{
    font-family: steam;
}

h2{
    font-family: steam;
}

.infos{
    background-color: rgb(51, 51, 51);
}

#con1{
    border: 0.15rem solid rgb(197, 147, 82);
}

#con3{
    border: 0.15rem solid rgb(245, 0, 0);
}

#con2{
    border: 0.15rem solid rgb(255, 248, 55);
}

#con4{
    border: 0.15rem solid rgb(83, 46, 143);
}

