@font-face{font-family: police; src: url(/css/font/Overpass-Regular.ttf);}
@font-face{font-family: voron; src: url(/css/font/Algerian\ Regular.ttf);}

main{
    background: linear-gradient(180deg, #4b1010 0%, #200a0a 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

#corps{
    width: 70%;
    margin-top: 6rem;
    background: #808080;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #808080 100%), url(/images/histoires/fond/Les_Trois_Piliers_du_Grand_Vautour.png);
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#personnages{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.test{
    width: 30%;
    border-radius: 100%;
    border: 0.15rem solid black;
}

h1{
    font-family: police;
    margin-top: 2rem;
    font-size: 4rem;
    margin-bottom: 3rem;
}

p{
    /* margin-left: 80rem; */
    /* margin-right: 80rem; */
    font-family: voron;
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
    text-align: center;
}

.fin{
    margin-bottom: 5rem;
}

h4{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: police;
}