@font-face{font-family: lgbt; src: url(/css/font/RobotoMono-Medium.ttf);}

main{
    background: linear-gradient(180deg, #283b2a 28.13%, #df40c9 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/mysandria.png);
}

h1{
    font-family: lgbt;
}

h2{
    font-family: lgbt;
}

.infos{
    background-color: rgb(73, 112, 63);
}

#con1{
    border: 0.15rem solid rgb(190, 58, 179);
}

#con2{
    border: 0.15rem solid rgb(30, 109, 146);
}

#con3{
    border: 0.15rem solid rgb(38, 9, 92);
}

#con4{
    border: 0.15rem solid rgb(83, 46, 143);
}

