@font-face{font-family: atolcost; src: url(/css/font/Metamorphous-Regular.ttf);}

main{
    background: linear-gradient(180deg, #162e70 28.13%, #0d0729 80%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/atolcost.jpg);
}

h1{
    font-family: atolcost;
}

h2{
    font-family: atolcost;
}

.infos{
    background-color: rgb(34, 67, 177);
}

#con1{
    border: 0.15rem solid rgb(1, 1, 146);
}

#con2{
    border: 0.15rem solid rgb(68, 34, 112);
}

#con3{
    border: 0.15rem solid rgb(77, 59, 88);
}

#con4{
    border: 0.15rem solid rgb(209, 0, 0);
}

