@font-face{font-family: atolcost; src: url(/css/font/Metamorphous-Regular.ttf);}

main{
    background: linear-gradient(180deg, #440079 28.13%, #3500CB 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/atolcost.jpg);
}

h1{
    font-family: atolcost;
}

h2{
    font-family: atolcost;
}

.infos{
    background-color: rgba(79, 43, 112, 0.76);
}

#con1{
    border: 0.15rem solid rgb(1, 1, 146);
}

#con2{
    border: 0.15rem solid rgb(153, 214, 230);
}

#con3{
    border: 0.15rem solid black;
}

#con4{
    border: 0.15rem solid rgb(0, 2, 24);
}