@font-face {font-family: atolcost; src: url(font/MuseoModerno-Regular.ttf);}
@font-face{font-family: steam; src: url(/css/font/Steamwheel.ttf);}

main{
    background: linear-gradient(180deg, #df8939 0%, #64462d 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/Cloakhoover.png);
}

h1{
    font-family: steam;
}

h2{
    font-family: steam;
}

.infos{
    background-color: rgba(223, 174, 68, 0.76);
}

#con1{
    border: 0.15rem solid rgb(72, 36, 92);
}

#con2{
    border: 0.15rem solid rgb(8, 54, 33);
}

#con3{
    border: 0.15rem solid black;
}

