@font-face{font-family: vacance; src: url(/css/font/FredokaOne-Regular.ttf);}

main{
    background: linear-gradient(180deg, #ca28c2 28.13%, #b34d88 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/loisiria.jpg);
    background-size: cover ;
}

h1{
    font-family: vacance;
}

h2{
    font-family: vacance;
}

.infos{
    background-color: rgb(217, 81, 230);
}

#con1{
    border: 0.15rem solid rgb(110, 17, 98);
}

#con2{
    border: 0.15rem solid rgb(76, 104, 197);
}

#con3{
    border: 0.15rem solid rgb(102, 42, 16);
}

