@font-face{font-family: vacance; src: url(/css/font/FredokaOne-Regular.ttf);}

main{
    background: linear-gradient(180deg, #3ea835 28.13%, #4db391 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/fond\ butch.png);
    background-size: cover;
    background-position-y: 60%;
}

h1{
    font-family: vacance;
}

h2{
    font-family: vacance;
}

.infos{
    background-color: rgba(89, 212, 58, 0.76);
}

#con1{
    border: 0.15rem solid rgb(85, 28, 28);
}

#con2{
    border: 0.15rem solid rgb(123, 42, 1);
}

#con3{
    border: 0.15rem solid black;
}

