@font-face{font-family: vacance; src: url(/css/font/FredokaOne-Regular.ttf);}

main{
    background: linear-gradient(180deg, #2e85cc 28.13%, #cdda21 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/loisiria.jpg);
    background-size: cover ;
}

h1{
    font-family: vacance;
}

h2{
    font-family: vacance;
}

.infos{
    background-color: rgb(57, 144, 202);
}

#con1{
    border: 0.15rem solid rgb(194, 28, 172);
}

#con2{
    border: 0.15rem solid #2e85cc;
}

#con3{
    border: 0.15rem solid rgb(110, 17, 98);
}

h4{
    font-size: 2rem;
}