@font-face{font-family: vacance; src: url(/css/font/FredokaOne-Regular.ttf);}

main{
    background: linear-gradient(180deg, #3a1d14 28.13%, #995147 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/loisiria.jpg);
}

h1{
    font-family: vacance;
}

h2{
    font-family: vacance;
}

.infos{
    background-color: rgb(77, 36, 26);
}

#con1{
    border: 0.15rem solid rgb(59, 16, 16);
}

#con2{
    border: 0.15rem solid rgb(153, 214, 230);
}

#con3{
    border: 0.15rem solid black;
}

