@font-face{font-family: vacance; src: url(/css/font/FredokaOne-Regular.ttf);}

main{
    background: linear-gradient(180deg, #c42f2f 28.13%, #e9ec2f 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/loisiria.jpg);
    background-size: cover ;
}

h1{
    font-family: vacance;
}

h2{
    font-family: vacance;
}

.infos{
    background-color: rgba(202, 38, 38, 0.76);
}

#con1{
    border: 0.15rem solid rgb(241, 106, 15);
}

#con2{
    border: 0.15rem solid rgb(153, 214, 230);
}

#con3{
    border: 0.15rem solid rgb(117, 232, 68);
}

