@font-face {font-family: west;src: url(/css/font/TEXAT\ BOLD\ PERSONAL\ USE___.otf);}

main{
    background: linear-gradient(180deg, #5a5a5a 30%, #dddddd 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/westphalian.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

h1{
    font-family: west;
}

h2{
    font-family: west;
}

.infos{
    background-color: rgb(168, 168, 168);
}

#con1{
    border: 0.15rem solid rgb(15, 116, 90);
}

#con2{
    border: 0.15rem solid rgb(61, 53, 48);
}

#con3{
    border: 0.15rem solid black;
}

