@font-face {font-family: west;src: url(/css/font/TEXAT\ BOLD\ PERSONAL\ USE___.otf);}

main{
    background: linear-gradient(180deg, #490f01 30%, #d67a23 100%);
}

#pays{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #D9D9D9 100%), url(/images/pays/westphalian.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

h1{
    font-family: west;
}

h2{
    font-family: west;
}

.infos{
    background-color: rgb(112, 27, 1);
}

#con1{
    border: 0.15rem solid rgb(114, 42, 0);
}

#con2{
    border: 0.15rem solid rgb(49, 151, 40);
}

#con3{
    border: 0.15rem solid black;
}

